The images used for this solution consist of asmall upper body clothing texture imagesset of 1716 images. Each image is annotated
as one of 11 different textures. All images were scraped using Bing Image Search and hand-annotated. The figure below shows
examples for the 11 categories.

<div align="center">
    <figure>
        <img src="images/152.jpg" alt="argyle" title="argyle" width="150px">
        <figcaption>Argyle</figcaption>
    </figure>
    <figure>
        <img src="images/403.jpg" alt="checkered" title="checkered" width="150px">
        <figcaption>Checkered</figcaption>
    </figure>
    <figure>
        <img src="images/319.jpg" alt="dotted" title="dotted" width="150px" />
        <figcaption>Dotted</figcaption>
    </figure>
    <figure>
        <img src="images/253.jpg" alt="floral" title="floral" width="110px" />
        <figcaption>Floral</figcaption>
    </figure>
    <figure>
        <img src="images/352.jpg" alt="herringbone" title="herringbone" width="150px" />
        <figcaption>Herringbone</figcaption>
    </figure>
    <figure>
        <img src="images/241.jpg" alt="houndstooth" title="houndstooth" width="110px" />
        <figcaption>Houndstooth</figcaption>
    </figure>
    <figure>
        <img src="images/111.jpg" alt="leopard" title="leopard" width="150px" />
        <figcaption>Leopard</figcaption>
    </figure>
    <figure>
        <img src="images/1248.jpg" alt="paisley" title="paisley" width="110px" />
        <figcaption>Paisley</figcaption>
    </figure>
    <figure>
        <img src="images/700.jpg" alt="striped" title="striped" width="110px" />
        <figcaption>Striped</figcaption>
    </figure>
    <figure>
        <img src="images/736.jpg" alt="tartan" title="tartan" width="150px" />
        <figcaption>Tartan</figcaption>
    </figure>
    <figure>
        <img src="images/75.jpg" alt="zebra" title="zebra" width="120px" />
        <figcaption>Zebra</figcaption>
    </figure>

</div>